<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>@ViewData["Title"] - Auto Appraisals Perfected</title>

            <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
            <link rel="stylesheet" href="~/css/site.css" />
            <!--Bootstrap -->
            <link rel="stylesheet" href="assets/css/bootstrap.min.css" type="text/css">
            <!--Custome Style -->
            <link rel="stylesheet" href="assets/css/style.css" type="text/css">
            <!--OWL Carousel slider-->
            <link rel="stylesheet" href="assets/css/owl.carousel.css" type="text/css">
            <link rel="stylesheet" href="assets/css/owl.transitions.css" type="text/css">
            <!--slick-slider -->
            <link href="assets/css/slick.css" rel="stylesheet">
            <!--bootstrap-slider -->
            <link href="assets/css/bootstrap-slider.min.css" rel="stylesheet">
            <!--FontAwesome Font Style -->
            <link href="assets/css/font-awesome.min.css" rel="stylesheet">

            <!-- Custom Colors -->
            <link rel="stylesheet" href="assets/colors/red.css">
            <!--<link rel="stylesheet" href="assets/colors/orange.css">-->
            <!--<link rel="stylesheet" href="assets/colors/blue.css">-->
            <!--<link rel="stylesheet" href="assets/colors/pink.css">-->
            <!--<link rel="stylesheet" href="assets/colors/green.css">-->
            <!--<link rel="stylesheet" href="assets/colors/purple.css">-->
            <!-- Fav and touch icons -->
            <link rel="apple-touch-icon-precomposed" sizes="144x144" href="assets/images/favicon-icon/apple-touch-icon-144-precomposed.png">
            <link rel="apple-touch-icon-precomposed" sizes="114x114" href="assets/images/favicon-icon/apple-touch-icon-114-precomposed.png">
            <link rel="apple-touch-icon-precomposed" sizes="72x72" href="assets/images/favicon-icon/apple-touch-icon-72-precomposed.png">
            <link rel="apple-touch-icon-precomposed" href="assets/images/favicon-icon/apple-touch-icon-57-precomposed.png">
            <link rel="shortcut icon" href="assets/images/favicon-icon/favicon.png">

            <!-- Google-Font-->
            <link href="https://fonts.googleapis.com/css?family=Lato:300,400,700,900" rel="stylesheet">

            <!-- Scripts -->
            <script src="assets/js/jquery.min.js"></script>
            <script src="assets/js/bootstrap.min.js"></script>
            <script src="assets/js/interface.js"></script>
            <!--bootstrap-slider-JS-->
            <script src="assets/js/bootstrap-slider.min.js"></script>
            <!--Slider-JS-->
            <script src="assets/js/slick.min.js"></script>
            <script src="assets/js/owl.carousel.min.js"></script>

        <environment exclude="Development">
            <link rel="stylesheet" href="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.7/css/bootstrap.min.css"
                  asp-fallback-href="~/lib/bootstrap/dist/css/bootstrap.min.css"
                  asp-fallback-test-class="sr-only" asp-fallback-test-property="position" asp-fallback-test-value="absolute" />
            <link rel="stylesheet" href="~/css/site.min.css" asp-append-version="true" />
        </environment>
    </head>
    <body>

        @RenderBody()

        <environment include="Development">
            <script src="~/lib/jquery/dist/jquery.js"></script>
            <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
            <script src="~/js/site.js" asp-append-version="true"></script>
        </environment>
        <environment exclude="Development">
            <script src="https://ajax.aspnetcdn.com/ajax/jquery/jquery-3.3.1.min.js"
                    asp-fallback-src="~/lib/jquery/dist/jquery.min.js"
                    asp-fallback-test="window.jQuery"
                    crossorigin="anonymous"
                    integrity="sha384-tsQFqpEReu7ZLhBV2VZlAu7zcOV+rXbYlF2cqB8txI/8aZajjp4Bqd+V6D5IgvKT">
            </script>
            <script src="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.7/bootstrap.min.js"
                    asp-fallback-src="~/lib/bootstrap/dist/js/bootstrap.min.js"
                    asp-fallback-test="window.jQuery && window.jQuery.fn && window.jQuery.fn.modal"
                    crossorigin="anonymous"
                    integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa">
            </script>
            <script src="~/js/site.min.js" asp-append-version="true"></script>
        </environment>

        @RenderSection("Scripts", required: false)
    </body>
</html>
