<?xml version="1.0" encoding="utf-8"?>
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <ResourceId>/subscriptions/97ccb48e-b64a-496e-91c8-6597c200bc01/resourceGroups/KingStrategySolutions/providers/Microsoft.Web/sites/AutoAppraisalsPerfectedReporting20181027044513</ResourceId>
    <SiteUrlToLaunchAfterPublish>https://autoappraisalsperfectedreporting20181027044513.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <MSDeployServiceURL>autoappraisalsperfectedreporting20181027044513.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>AutoAppraisalsPerfectedReporting20181027044513</DeployIisAppPath>
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$AutoAppraisalsPerfectedReporting20181027044513</UserName>
    <_SavePWD>True</_SavePWD>
  </PropertyGroup>
</Project>