<?xml version="1.0" encoding="utf-8"?>
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <ResourceId>/subscriptions/93d75f46-9d5e-4032-836d-1882c6896c3a/resourceGroups/AutoAppraisals/providers/Microsoft.Web/sites/autoappraisalsperfected</ResourceId>
    <ResourceGroup>AutoAppraisals</ResourceGroup>
    <PublishProvider>AzureWebSite</PublishProvider>
    <SiteUrlToLaunchAfterPublish>https://autoappraisalsperfected.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <MSDeployServiceURL>autoappraisalsperfected.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>autoappraisalsperfected</DeployIisAppPath>
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$autoappraisalsperfected</UserName>
    <_SavePWD>True</_SavePWD>
  </PropertyGroup>
</Project>